* {
  text-font: Helvetica;
  text-align: center;
}
#title-section {
  background-image: url("../images/the-flatiron-building.png");
  background-color: black;
}

#main-title {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#main-nav {
  font-size: 18px;
  color: white;
}

#process-title {
  font-size: 32px;
  font-weight: bold;
}
